* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

img {
    cursor: pointer;
}

.intro {
    position: fixed;
    display: flex;
    flex: 1;
    width: 100vw;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    background: #A8A8AA;
    color: gray;
    align-items: center;
    justify-content: flex-end;
    z-index: 99999;
}

.intro p {
    display: flex;
    padding: 0 15vw;
}

.burger {
    display: none;
}

.burger_ div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background: gray;
}

.burger_:hover {
    cursor: pointer;
}

.logo {
    flex: 0.5;
    color: gray;
}

.logo:hover {
    transition: all 0.6s;
    cursor: pointer;
    color: white;
}

nav {
    flex: 1;
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw;
    z-index: 999;
}

.nav-menu {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-between;
    max-width: 767px;
    color: gray;
}

.nav-menu li:hover {
    cursor: pointer;
    color: white;
}

.serch {
    display: flex;
    margin-left: 5vw;
    flex: 1;
    color: gray;
    align-items: center;
    justify-content: space-between;
}

.serch span:hover {
    cursor: pointer;
    color: white;
}

.serch span {
    display: flex;
    flex: 1;
    max-width: 20vw;
    font-size: 25px;
    color: gray;
    justify-content: space-between;
}

.serch span:first-child {
    display: block;
    margin-left: 1vw
}

header {
    width: 100vw;
    height: auto;
}

@media screen and (max-width:767px) {
    nav {
        padding: 0;
        justify-content: center;
    }
    .nav-menu {
        position: absolute;
        top: 48px;
        width: 100%;
        color: black;
        flex-direction: column;
        /* justify-content: center; */
        background: rgba(0, 0, 0, 0.8);
        display: none;
        text-indent: 10vw;
        height: calc(100vh - 94px);
    }
    .nav-menu li {
        margin: 3vh;
        color: gray;
        z-index: 9999;
    }
    .nav-menu li:hover {
        cursor: pointer;
        color: white;
    }
    .logo {
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .serch {
        justify-content: center;
        margin-left: 0;
    }
    .serch span:nth-child(2) {
        /* display: flex; */
        /* flex: 1; */
        display: none;
    }
    .burger {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .INPUT {
        display: none;
    }
}

.burger_.active .o-line {
    transition: all 0.6s;
    transform: rotate(45deg) translate(4px, 0px);
    background: white;
}

.burger_.active .t-line {
    transition: all 0.6s;
    transform: rotate(-45deg) translate(3px, 0px);
    background: white;
}

.nav-menu.open {
    transition: all 0.6s;
    transform: translateY(0);
    z-index: -1;
}

.serch.NO {
    transition: all 0.6s;
    color: rgba(0, 0, 0, 0);
}